/*General page-wide styling to the body of the site*/
Body {
    background-color: whitesmoke;
}
/*Setting fonts for the different text types on the website - making sure to have a uniform design throughout the page*/
p {
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-weight: 300;
}
/*Adding the logo*/
.LogoImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Styling the menu*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #123C69;
    font-family: Verdana, Perpetua, sans-serif;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    height: 24px;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;

}

/*Styling for the specific links in the menu, including hover to change color,
all based on the different ID's attached to the HTML code.*/
#products {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}
#products:hover {
    background-color: #111;
    height: 32px
}
#contact {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}
#contact:hover {
    background-color: #111;
    height: 32px
}
#concept {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}
#concept:hover {
    background-color: #111;
    height: 32px
}
#cart {
float:right;
}
#cartlogo{
    padding: 8px 24px 8px 16px;
}
#cart:hover {
    background-color: #111;
    height: 52px
}
#profile {
    float:right;
}
#profileLogo {
    padding: 8px 0px;

}
#profile:hover {
    background-color: #111;
    height: 52px
}

/*styling for the article tags; mostly used in Concept and Contact*/
Article {
    padding-left: 40px;
    Padding-right: 360px;
    width: 920px;
    float: left;
}
#ConceptImage {
    float:left;
    padding-top: 40px;
}
/*------- Hero --------*/
.banner {
    text-align: center;
    background: dimgrey, 0.2;
    display: inline-block;
    padding: 2rem;
}
.hero {
    min-height: calc(100vh - 60px);
    background: url("./Images/dronning-louises-bro_cykler_martinheiberg.jpg") center/cover
no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}