Body {
    font-family: verdana, geneva, sans-serif;
    background-color: antiquewhite;
}
img {

    float:left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #123C69;
}
#shoppingLogo {
    float:right;
}



li {
    float: left;
}

li a {
    display: block;
    color: white;
    height: 24px;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;

}
#homebutton {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}
#homebutton:hover {
    background-color: #111;
    height: 32px
}
#products {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}
#products:hover {
    background-color: #111;
    height: 32px
}
#contact {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}
#contact:hover {
    background-color: #111;
    height: 32px
}
#concept {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}
#concept:hover {
    background-color: #111;
    height: 32px
}


/* Change the link color to black on hover */

#cart {
float:right;
}

#cartlogo{
    padding: 8px 24px 8px 16px;
}
#cart:hover {
    background-color: #111;
    height: 52px
}
#profile {
    float:right;
}

#profileLogo {
    padding: 8px 0px;

}
#profile:hover {
    background-color: #111;
    height: 52px
}