Body {
    font-family: verdana, geneva, sans-serif;
    background-color: #EDC7B7
}
img {

    float:left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #123C69;
}
#shoppingLogo {
    float:right;
}



li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
#cart {
float:right;
}

#cartlogo{
    padding: 4px 64px;
}